/* Importação das Fontes da pagina*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  html, body {
    height: 100%;
    font-family: "Geologica", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  