.EditarGato{
    align-self: center;
    margin-top: 5vw;
    background-color: var(--cor-complementar);
    position: absolute;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    z-index: 14; 
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease;
}

.EditForm{
    width: 30vw;
    display: flex;
    padding: 5vw 4vw 7vw 4vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EditForm input:focus{
    outline: none;
}

.EditFormHeader{
    height: 10vw;
    width: 27vw;
    display: flex;
    flex-direction: column;
    padding: 0 -1vw 0 -1vw;
}


.EditFormHeader h1{
    margin-left: 1vw;
    text-align: start;
    font-size: 1.5vw;
    color: var(--cor-apoio);
}

.EditFormHeader p{
    width: 26vw;
    text-align: start;
    font-size: 1.1vw;
    font-weight: lighter;
    opacity: 80%;
    color: var(--cor-apoio);
    margin-left: 1vw;
}

.EditFormMain{
    height: 90vw; 
}

.formEditarGato{
    height: 25vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.formEditarGato label:first-child{
    margin-top: 1vw;
}

.formEditarGato input:nth-child(2), .formEditarGato input:nth-child(3){
    display: inline-flex;
    flex: 1;
    margin-right: 5vw;
    
}

.formEditarGato label{
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: lighter;
    color: var(--cor-apoio);
}

.sexoIdade{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.sexoIdade label{
    margin-right: 9.5vw;
}
.sexoIdade input{
    margin-right: 4.2vw;
}

.formEditarGato label[for="Vacinas"]{
    margin-top: 1vw;
    margin-right: 1vw;
}

.formEditarGato input[type ="checkbox"]{
    margin-top: 1vw;
    margin-left: 3vw;
    margin-right: 5vw;
    width: 5vw;
    height: 2vh;
    background-color: var(--cor-apoio);  
    border: 1px solid var(--cor-principal);
    box-shadow: none;
    cursor: pointer;
}
.formEditarGato input[type ="checkbox"]:checked{
    background-color: var(--cor-principal);
}
.formEditarGato input[type="file"]{
    width: 8.5vw;
}

.formEditarGato input[list]{
    width: 8vw;
    height: 2vw;
    padding: 1vw;
    background-color: transparent;
    border: 1px solid var(--cor-apoio);
    border-radius: 10px;
    font-size: 1vw;
    color: var(--cor-apoio);
}

.formEditarGato input[type="text"]{
    width: 25vw;
    height: 2.3vw;
    margin-top: 1vw;
    padding: 1vw;
    background-color: transparent;
    border: 1px solid var(--cor-apoio);
    border-radius: 24px;
    font-size: 1vw;
    color: var(--cor-apoio);
}

.EditForm button{
    margin-top: 2vw;
    height: 3vw;
}



.EditForm img{
    width: 1.5vw;
    margin-left: 1.5vw;
}

.EditForm button{
    width: 23vw;
    height: 19vw;
    margin: 1vw 0 0 1vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--cor-principal);
    border-radius: 40px;
    font-size: 0.7vw;
    font-weight: bold;
    color:var(--cor-apoio);
}

.EditForm button:hover{
    cursor: pointer;
    background-color: var(--cor-principal-escura);
}
