<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoCat</title>
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/homestyle.css">
</head>
<body>
    <header>
        <div class="headerLogo">
            <img src="static/assets/logo.png" width="27%" draggable="false">
            <span>ado<b>cat</b></span>

        </div>

        <div class="headerInf">
            <a href="/">ínicio</a>
            <a href="adocao">adoção</a>
            <a href="contato">contato</a>
        </div>
    </header>
    <section class="mainContent">
        <div class="mainText">
            <h1>Adote um gatinho</h1>
            <p>Comece escolhendo o posto de adoção mais próximo de sua casa e escolha os gatinhos mais lindo do miiaundo.  Deixe o amor felino invadir a sua casa e adote já o seu companheiro.</p>
            <button>Adote já!<img src="static/assets/LogoBotao.png" width="11%" height="10%" draggable="false"></button>
        </div>
    </section>
    <div class="mainFt">
        <img src="static/assets/Gatos.png" width="750px" draggable="false">
    </div>

    <section class="midContent">
        <div class="midHeader">
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>
        </div>
        <div class="midText">
            <h1>Apresentando</h1>
        </div>
    </section>
</body>
</html>